REDIS_URL=
BUN_ENV=development

MONGODB_PASSWORD=password
MONGODB_USERNAME=admin
MONGODB_URI=mongodb://admin:password@localhost:27017/ainstein
MONGODB_TEST_URI=mongodb://localhost/ainstein-test

JWT_SECRET=secret
S3_BUCKET=
OPENAI_API_KEY=
PORT=3000

BETTER_AUTH_SECRET=3njo1jgWwb2Tfajh7mih5VrHKLG2QWdr
BETTER_AUTH_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
